.profile {
    display: flex;
    width: 100%;
    height: calc(100vh - 74px);
    margin: 0 auto;
    padding: 50px 30px 50px;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.profile__title {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: var(--color-black);
    margin: 24px 0 98px;
    padding: 0;
    text-align: center;
}

.profile__form {
    display: flex;
    width: 100%;
    max-width: 410px;
    max-height: 328px;
    ;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.profile__form-label {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 5px 0 16px;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: stretch;
    text-align: left;
    box-sizing: border-box;
}

.profile__form-label_align_down {
    height: auto;
    padding: 16px 0 5px;
    align-items: flex-end;
    border-top: 1px solid var(--color-grey-01);
    box-sizing: border-box;
}

.profile__form-label-name {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--color-black);
}

.profile__form-input {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--color-black);
    margin: 0;
    padding: 0;
    text-align: right;
    border: none;
    appearance: none;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 1;
}

.profile__form-input:invalid,
.profile__form-input_error {
    color: var(--color-accent);
}

.profile__form-input::placeholder {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--color-grey-03);
}

.profile__form-input:focus {
    outline: none;
}

.profile__form-input:focus+.profile__form-label-name {
    color: var(--color-promo);
}

.profile__input-error {
    display: block;
    width: 100%;
    min-height: 20px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: var(--color-accent);
    margin: 0;
    padding: 0;
    text-align: right;
    visibility: hidden;
}

.profile__input-error_active {
    visibility: visible;
}

.profile__message {
    display: flex;
    width: 100%;
    min-height: 165px;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--color-accent);
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    flex-grow: 1;
}

.profile__form-submit-button {
    display: flex;
    width: 100%;
    margin: 20px 0 16px;
    padding: 0;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--color-black);
    text-align: center;
    background-color: var(--color-white);
    border: none;
    appearance: none;
    box-sizing: border-box;
    cursor: pointer;
}

.profile__form-submit-button:hover {
    opacity: .8;
    transition: opacity .6s;
}

.profile__form-submit-button:disabled {
    opacity: .4;
    cursor: default;
}

.profile__exit-link {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: var(--color-accent);
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
    background-color: var(--color-white);
    border: none;
    appearance: none;
    box-sizing: border-box;
    cursor: pointer;
}

.profile__exit-link:hover {
    opacity: .7;
    transition: opacity .6s;
}

@media screen and (max-width: 768px) {
    .profile {
        justify-content: center;
    }

    .profile__title {
        margin-bottom: 71px;
    }
}

@media screen and (max-width: 480px) {
    .profile {
        justify-content: flex-start;
    }

    .profile__form {
        max-height: 100%;
    }
}

@media screen and (max-width: 320px) {
    .profile {
        padding: 50px 30px 20px;
    }

    .profile__title {
        margin-top: 20px;
        margin-bottom: 55px;
    }

    .profile__form-submit-button {
        font-size: 12px;
        line-height: 14px;
    }

    .profile__exit-link {
        font-size: 12px;
        line-height: 14px;
    }
}