.search-form {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.search-form__container {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 0 13px;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
    box-sizing: border-box;
}

.search-form__textarea {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #000;
    border: none;
    appearance: none;
    vertical-align: middle;
}

.search-form__textarea::placeholder {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #A0A0A0;
}

.search-form__textarea:focus {
    outline: none;  
}

.search-form__container:focus-within {
    border-bottom: 1px solid #FF3055;
}

.search-form__button {
    display: block;
    width: 34px;
    height: 34px;
    margin: 0 0 0 10px;
    padding: 0;
    background-color: #000;
    background-image: url(../../images/icon-arrow.svg);
    background-position: center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    border-radius: 48%;
    border: none;
    appearance: none;
    box-sizing: border-box;
    cursor: pointer;
}

.search-form__button:hover {
    background-color: #FF3055;
    transition: color .8s;
}

@media screen and (max-width: 768px) {
    .search-form {
        gap: 29px;
    }
    
    .search-form__textarea {
        font-size: 24px;
        line-height: 28px;
    }

}

@media screen and (max-width: 640px) {
   
    .search-form__textarea {
        font-size: 24px;
        line-height: 28px;
    }

    .search-form__textarea::placeholder {
        font-size: 24px;
        line-height: 28px;
    }

}

@media screen and (max-width: 480px) {
    .search-form__textarea {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 320px) {
    .search-form {
        width: 292px;
        gap: 40px;
    }

    .search-form__container {
        padding-bottom: 9px;
    }

    .search-form__textarea {
        font-size: 14px;
        line-height: 16px;
    }

    .search-form__textarea::placeholder {
        font-size: 18px;
        line-height: 22px;
    }
}