.not-found-page {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 70px 30px 40px;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}

.not-found-page__title {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 170px;
    margin: 0 0 5px;
    padding: 0;
    text-align: center;
}

.not-found-page__subtitle {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.not-found-page__link {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-black);
    margin: 0;
    padding: 184px 0 20px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}

.not-found-page__link:hover {
    opacity: .7;
    transition: opacity .6s;
}

@media screen and (max-width: 768px) {
    .not-found-page__link {
        padding-bottom: 182px;
    }
}

@media screen and (max-width: 640px) {
    .not-found-page__title {
        font-size: 120px;
        line-height: 144px;
        margin-bottom: 10px;
    }

    .not-found-page__link {
        padding-bottom: 182px;
    }
}

@media screen and (max-width: 320px) {
    .not-found-page {
        padding: 30px 30px 10px;
    }

    .not-found-page__link {
        padding-top: 284px;
        padding-bottom: 20px;
    }

    .not-found-page__title {
        font-size: 80px;
        line-height: 97px;
    }

    .not-found-page__subtitle {
        font-size: 12px;
        line-height: 14px;
    }

    .not-found-page__link {
        font-size: 12px;
        line-height: 14px;
    }
}